<div class="post-comment">
  <div id="comment-card">
    <span id="comment-name">
      <div style="display: flex; align-items: center">
        <img
          src="https://img.nowrunning.com/content/Artist/SunnyLeone/stills/sunnyleone-stills-02.jpg"
          alt="<%= comment.user.firstname %> <%= comment.user.lastname%> "
        />
        <%=comment.user.firstname%> <%=comment.user.lastname%>
      </div>
      <div>
        <% if((locals.user) && (locals.user.id==comment.user.id)){%>
        <a href="/comments/destroy/<%=comment.id%>"
          ><img
            src="https://cdn-icons-png.flaticon.com/128/3405/3405244.png"
            alt="deletepost"
        /></a>
        <%}%>
      </div>
    </span>
    <span id="comment-content"><%= comment.content%></span>
  </div>
</div>
