<link rel="stylesheet" href="/scss/home.scss" />
<div id="home-body">
  <div>
    <h1>Baatein <%= title %></h1>
    <% if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="post">
      <textarea
        name="content"
        id="text-area"
        cols="30"
        rows="5"
        required
      ></textarea>
      <button type="submit">Post</button>
    </form>
    <% } else { %>
    <H2>Please log in to create a post.</H2>
    <% } %>
  </div>
  <div id="post-container">
    <%for(post of posts){%>
    <div class="post-and-comment">
      <div class="post-card">
        <div class="user-info">
          <div style="display: flex; align-items: center">
            <img
              src="https://img.nowrunning.com/content/Artist/SunnyLeone/stills/sunnyleone-stills-02.jpg"
              alt="<%= post.user.firstname %> <%= post.user.lastname%>"
            />
            <span><%= post.user.firstname %> <%=post.user.lastname%></span>
          </div>
          <div id="delete-icon">
            <% if(locals.user.id==post.user.id){%>
            <a href="/posts/destroy/<%=post.id%>"
              ><img
                src="https://cdn-icons-png.flaticon.com/128/3405/3405244.png"
                alt="deletepost"
            /></a>
            <%}%>
          </div>
        </div>
        <div class="post-content"><%=post.content%></div>
      </div>
      <% if(locals.user){%>
      <div class="comment-form">
        <form id="comment-form" action="/comments/create" method="post">
          <textarea name="content" cols="27" rows="3" required></textarea>
          <input type="hidden" name="post" value="<%=post._id %>" />
          <button type="submit">comment</button>
        </form>
      </div>
      <%}%> <%for(comment of post.comments){%>
      <div class="post-comment">
        <div id="comment-card">
          <span id="comment-name">
            <div style="display: flex; align-items: center">
              <img
                src="https://img.nowrunning.com/content/Artist/SunnyLeone/stills/sunnyleone-stills-02.jpg"
                alt="<%= comment.user.firstname %> <%= comment.user.lastname%> "
              />
              <%=comment.user.firstname%> <%=comment.user.lastname%>
            </div>
            <div>
              <% if((locals.user) && (locals.user.id==comment.user.id)){%>
              <a href="/comments/destroy/<%=comment.id%>"
                ><img
                  src="https://cdn-icons-png.flaticon.com/128/3405/3405244.png"
                  alt="deletepost"
              /></a>
              <%}%>
            </div>
          </span>
          <span id="comment-content"><%= comment.content%></span>
        </div>
      </div>
      <%}%>
    </div>
    <%}%>
  </div>
</div>
