<link rel="stylesheet" href="/css/user_profile.css" />
<div id="profile-page">
  <div class="profile-container">
    <div
      class="profile-container"
      style="background-image: linear-gradient(30deg, pink, white)"
    >
      <div class="profile-info">
        <div id="name-pic">
          <img
            id="dp"
            src="https://img.nowrunning.com/content/Artist/SunnyLeone/stills/sunnyleone-stills-04.jpg"
          />
          <p
            style="
              font-size: 3rem;
              font-family: Arial, Helvetica, sans-serif;
              font-weight: 700;
            "
          >
            <%= curr_user.firstname+" "+curr_user.lastname %>
          </p>
        </div>
        <p><strong>Email:</strong> <%= curr_user.email %></p>
        <p><strong>Phone:</strong> <%= curr_user.phone %></p>
        <p>
          <strong>Date of Birth:</strong><%= curr_user.dob.toLocaleDateString()
          %>
        </p>
      </div>
    </div>
    <%if(locals.user.id==curr_user.id){%>
    <section id="feed-posts">
      <form action="/posts/create" id="new-post-form" method="post">
        <textarea
          name="content"
          id="text-area"
          cols="30"
          rows="5"
          required
        ></textarea>
        <button type="submit">Post</button>
      </form>
    </section>
    <%}%>
  </div>
  <div id="post-container">
    <%for(post of posts){%>
    <div class="post-and-comment">
      <%-include('_posts');%>
      <form id="comment-form" action="/comments/create" method="post">
        <textarea name="content" cols="27" rows="3" required></textarea>
        <input type="hidden" name="post" value="<%=post._id %>" />
        <button type="submit">comment</button>
      </form>
      <%for(comment of post.comments){%> <%-include('_comments');%> <%}%>
    </div>
    <%}%>
  </div>
</div>
